<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.upb.llvm_parser.llvm.presentation.LlvmModelWizardID"
            name="%_UI_LlvmModelWizard_label"
            class="de.upb.llvm_parser.llvm.presentation.LlvmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LlvmModelFile.gif">
         <description>%_UI_LlvmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.upb.llvm_parser.llvm.presentation.LlvmEditorID"
            name="%_UI_LlvmEditor_label"
            icon="icons/full/obj16/LlvmModelFile.gif"
            extensions="llvm"
            class="de.upb.llvm_parser.llvm.presentation.LlvmEditor"
            contributorClass="de.upb.llvm_parser.llvm.presentation.LlvmActionBarContributor">
      </editor>
   </extension>

</plugin>
