<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.upb.lina.transformations.promela.tools.transformCat"
            name="Transformation wizards">
      </category>
      <wizard
            category="de.upb.lina.cfg.tools"
            class="de.upb.lina.transformations.wizards.TransformationWizard"
            icon="icons/sample.gif"
            id="de.upb.lina.transformations.promela.tools.transformationWizard"
            name="Generate New Specification">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.upb.lina.transformations.logic.CreateAllHandler"
            id="de.upb.lina.transformations.createallcommand"
            name="Create All Transformations">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
         <command
               commandId="de.upb.lina.transformations.createallcommand"
               id="de.upb.lina.transformations.createalltransformations"
               label="Create All Transformations"
               style="push"
               tooltip="Test">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="s">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
   </extension>

</plugin>
