<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.upb.lina.transformations.promela.tools.transformCat"
            name="Transformation wizards">
      </category>
      <wizard
            category="de.upb.lina.cfg.tools"
            class="de.upb.lina.transformations.wizards.TransformationWizard"
            icon="icons/spec.png"
            id="de.upb.lina.transformations.promela.tools.transformationWizard"
            name="Generate Specification from Store Buffer Graph">
      </wizard>
      <wizard
            category="de.upb.lina.cfg.tools"
            class="de.upb.lina.transformations.wizards.allinone.AllInOneWizard"
            icon="icons/spec.png"
            id="de.upb.lina.transformations.promela.tools.allinonewizard"
            name="Generate Specification from LLVM in one Step">
      </wizard>
   </extension>
   
   <!-- Commands -->
   <extension
         point="org.eclipse.ui.commands">
      <!-- Create All command -->
      <command
            defaultHandler="de.upb.lina.transformations.logic.CreateAllTransformationsCommandHandler"
            id="de.upb.lina.transformations.createallcommand"
            name="Create All Transformations">
      </command>
      <!-- Save Ast command -->
      <command
            defaultHandler="de.upb.lina.transformations.logic.SaveAstCommandHandler"
            id="de.upb.lina.transformations.saveastcommand"
            name="Save AST">
      </command>
   </extension>
   
  
   <!-- Menu Contributions -->
   <extension
         point="org.eclipse.ui.menus">
      <!-- Create All button - Java perspective-->
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
         <command
               commandId="de.upb.lina.transformations.createallcommand"
               id="de.upb.lina.transformations.createalltransformations"
               label="Generate All Specifications from LLVM"
               style="push"
               tooltip="Generates all specification variations for Promela and KIV directly from LLVM code.">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="s">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
       <!-- Create All button - Project Perspective-->
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
         <command
               commandId="de.upb.lina.transformations.createallcommand"
               id="de.upb.lina.transformations.createalltransformations"
               label="Generate All Specifications from LLVM"
               style="push"
               tooltip="Generates all specification variations for Promela and KIV directly from LLVM code.">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="s">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
      <!-- Create All button - Navigator-->
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator?before=additions">
         <command
               commandId="de.upb.lina.transformations.createallcommand"
               id="de.upb.lina.transformations.createalltransformations"
               label="Generate All Specifications from LLVM"
               style="push"
               tooltip="Generates all specification variations for Promela and KIV directly from LLVM code.">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="s">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
      
      
      <!-- Save Ast Button - Java Perspective -->
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
         <command
               commandId="de.upb.lina.transformations.saveastcommand"
               id="de.upb.lina.transformations.saveast.java"
               label="Save LLVM AST"
               style="push"
               tooltip="Save LLVM Abstract Syntax Tree as a model.">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="s">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
       <!-- Save Ast Button - Project Perspective -->
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
         <command
               commandId="de.upb.lina.transformations.saveastcommand"
               id="de.upb.lina.transformations.saveast.project"
               label="Save LLVM AST"
               style="push"
               tooltip="Save LLVM Abstract Syntax Tree as a model.">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="s">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
       <!-- Save Ast Button - Navigator Perspective -->
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator?before=additions">
         <command
               commandId="de.upb.lina.transformations.saveastcommand"
               id="de.upb.lina.transformations.saveast.project"
               label="Save LLVM AST"
               style="push"
               tooltip="Save LLVM Abstract Syntax Tree as a model.">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="s">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>  

</plugin>
