<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="LINA"
            id="de.upb.lina.cfg.tools">
      </category>
      <wizard
            category="de.upb.lina.cfg.tools"
            class="de.upb.lina.cfg.tools.wizards.CreateStoreBufferGraphWizard"
            icon="icons/sample.gif"
            id="de.upb.lina.cfg.tools.wizards.NewCfgWizard"
            name="New Store Buffer Graph"
            project="false">
      </wizard>
   </extension>
</plugin>
