<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.upb.lina.cfg.controlflow.diagram.providers.CustomControlFlowEditPartProvider">
         <Priority
               name="Low">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.notation.Edge"
               id="generated-links">
            <method
                  name="getType()"
                  value="4001">
            </method>
         </object>
         <context
               views="generated-links,generated-labels">
         </context>
         <object
               class="org.eclipse.gmf.runtime.notation.Node"
               id="generated-labels">
            <method
                  name="getType()"
                  value="5001">
            </method>
         </object>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider
            class="de.upb.lina.cfg.controlflow.diagram.providers.ControlFlowLayoutProvider">
         <Priority
               name="Highest">
         </Priority>
      </layoutProvider>
   </extension>
   <extension
         id="view-provider"
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider
            class="de.upb.lina.cfg.controlflow.diagram.providers.CustomControlFlowViewProvider">
         <Priority
               name="Low">
         </Priority>
         <context
               semanticHints="4001"
               viewClass="org.eclipse.gmf.runtime.notation.Edge">
         </context>
         <context
               semanticHints="2001"
               viewClass="org.eclipse.gmf.runtime.notation.Node">
         </context>
      </viewProvider>
   </extension>

</plugin>
